#tabbedMenu{
	width: 100%;
	height: 100%;
	background-color: yellow;
	border: solid;
}
#buttsGroup{
	text-align: center;
}
.smallImage{
	width:50%;
	height:25%;
	background-color: black;
	margin: auto;

}
#largeImage{
	width:300px;
	height:300px;
}
#imageSpace{
	margin: auto;
	width: 50%;
}
